@charset "utf-8";

/* CSS Document */
.block .content .block_tutors_content .userpicture {
    width: 128px;
    height: 128px;
    margin-right: 5px;
}

div.block_tutors_card_scrollable {
    height: 380px;
    overflow-y: auto;
    visibility: hidden;
}


/* Scrollbar on hover without moving content http://jsfiddle.net/4RSbp/165/ */
.block_tutors_card_scrollable_content,
.block_tutors_card_scrollable:hover,
.block_tutors_card_scrollable:focus {
    visibility: visible;
}

.block_tutors_card_scrollable_delayed {
    transition: visibility 0.4s;
}

.block_tutors_sscrollbox_delayed:hover {
    transition: visibility 0s 0.4s;
}

div.block_tutors_card_scrollable:hover {
    overflow-y: auto;
}

.block_tutors_overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 1000; /* Specify a stack order in case you're using a different order for other elements */
}

.block_tutors_content {
    overflow: auto;
}

.block_tutors_overlay_content {
    width: 50%;
    height: 50%;
}

.block_tutors_overlay > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* center the image in the overlay */
}

.block_tutors_overlay_close {
    border-radius: 5px;
    display: inline-block;
    padding: 5px 10px;
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 5px;
    font-size: 2.0em;
    z-index: 1001;
}

.block_tutors_overlay_close_icon {
    font-size: 2.0em;
}

.tutor-body-edit-button-edit:before {
    content: "\f044";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    padding-right: 5px;
}

.block_tutors_overlay .col-md-3,
.block_tutors_overlay .col-md-9 {
    flex: 0 0 100%;
    max-width: 100%;
}

.block .content .block_tutors_overlay .col-md-3 span.float-sm-right {
    float: none;
}

.block .content .block_tutors_overlay .col-md-3 label.col-form-label.d-inline {
    float: left;
}

.block_tutors_overlay .col-md-3 .text-info,
.block_tutors_overlay .col-md-3 label.col-form-label.d-inline {
    margin: 0;
}

.block_tutors_overlay .col-md-3 .btn {
    height: 26px;
}

.block_tutors_overlay .fp-restrictions {
    text-align: left;
}