{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_tutors/tutors-filter-selector

    This template renders the main filter dropdown.

    Example context (json):
    {
        "allcourses" : {
            { "coursename" : "Course 1", "courseid" : 281},
            { "coursename" : "Course 2", "courseid" : 389},
            { "coursename" : "Course 3", "courseid" : 8},
            { "coursename" : "Course 4", "courseid" : 1}
        }
    }
}}
<div class="dropdown m-y-1 mr-auto">
    <button id="tutorsfilterdropdown" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" 
    aria-label="{{#str}}aria:tutorsfilterdropdown, block_tutors {{/str}}">
        {{#pix}} i/filter {{/pix}}
        <span class="d-sm-inline-block" data-active-item-text>{{#str}}allcoursesstr, block_tutors{{/str}}
        </span>
    </button>
    <ul class="dropdown-menu" data-show-active-item data-active-item-text aria-labelledby="tutorsfilterdropdown">
            <li>
                <a class="dropdown-item" href="#" data-tutors-filter="tutorsfilter" 
                data-value="0" aria-label="Show all courses" aria-controls="tutors-filter-0" data-min-width-card="{{{minwidthcard}}}" data-max-cols-per-row="{{{maxcolsperrow}}}">
                    {{#str}}allcoursesstr, block_tutors{{/str}}
                </a>
            </li>

        {{#allcourses}}
            <li>
                <a class="dropdown-item" href="#" data-tutors-filter="tutorsfilter" 
                data-value="{{{id}}}" aria-label="Filter by this course: {{{shortname}}}" aria-controls="tutors-filter-{{id}}" data-min-width-card="{{{minwidthcard}}}" data-max-cols-per-row="{{{maxcolsperrow}}}">
                    {{{shortname}}}
                </a>
            </li>
        {{/allcourses}}
    </ul>
</div>
