{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_/

    This template renders a given list of .

    Example context (json):
    {
        "tutors" : [
            {   
                "rows" : [
                    {
                        "firstname": "John",
                        "surname": "Doe",
                        "interests": "Yoga, Meditation",
                        "coursename": "Course name"
                    },
                    {
                        "firstname": "John",
                        "surname": "Doe",
                        "interests": "Yoga, Meditation",
                        "coursename": "Course name"
                    }
                ]

            },
            {   
                "rows" : [
                    {
                        "firstname": "John",
                        "surname": "Doe",
                        "interests": "Yoga, Meditation",
                        "coursename": "Course name"
                    },
                    {
                        "firstname": "John",
                        "surname": "Doe",
                        "interests": "Yoga, Meditation",
                        "coursename": "Course name"
                    }
                ]

            }
        ]
    }
}}

<style>
.block-tutors .row *[class*='col-'] {
    min-width: {{{minwidthcard}}}px;
}
</style>
<div class="container">


{{#tutors}}
    <div class="row block-tutors-row h-100 mb-2">

    {{#rows}}
    <div class="col-lg-{{{grid-size}}} col-md-6 mx-xs-auto">
        <div class="card {{{extraclasses}}} mb-2">

          <div class="card-body px-0 py-1 mx-0 block_tutors_card_scrollable block_tutors_card_scrollable_delayed">

            <div id="tutor-body-{{{id}}}" class="tutor-body block_tutors_card_scrollable_content p-3">
                <div class="text-center pb-2">{{{picture}}}</div>
                <h5 class="card-title py-1 mb-0 text-center font-weight-bold">{{{name}}}</h5>
                {{#jobtitlerole}}
                    <p class="card-text text-center mt-0 mb-1 py-0">{{{jobtitlerole}}}</p>
                {{/jobtitlerole}}

                <div class="cart-text text-center pb-2">
                    {{{messagetutor}}}
                    <a href="mailto:{{{email}}}"> {{# pix}} i/email, core, {{#str}} sendemailtext, block_tutors {{/str}} {{/pix}}</a>
                </div>

                <div class="tutors-block-description mb-4">
                    {{#location}}
                        <h6 class="card-subtitle mt-2 mb-0 font-weight-bold">{{locationtitle}}</h6>
                        <p class="card-text mb-0">{{{location}}}</p>
                    {{/location}}

                    {{#showphone}}
                        <p class="mt-0 mb-3">{{{phone}}}</p>
                    {{/showphone}}
                </div>
    
                <div class="tutors-block-description mb-4">
                    {{#officehours}}
                        <h6 class="card-subtitle mt-2 mb-0 font-weight-bold">{{officehourstitle}}</h6>
                        <p class="card-text">{{{officehours}}}</p>
                    {{/officehours}}
                    {{#officehoursexcerpt}}
                        <div id="text-excerpt-office-hours-{{{id}}}">
                            <h6 class="card-subtitle mt-2 mb-0 font-weight-bold">{{officehourstitle}}</h6>
                            <p class="card-text mt-0 mb-1">{{{officehoursexcerpt}}}
                                <a href="#" title="{{{readmoretext}}}" class="block_tutors_read_more" id="read-more-office-hours-link-{{{id}}}" data-id=office-hours-{{{id}}}>
                                {{{readmoretext}}}</a>
                            </p>
                        </div>
                    {{/officehoursexcerpt}}
                    {{#officehoursfull}}
                        <div id="text-full-office-hours-{{{id}}}" style="display: none;">
                            <h6 class="card-subtitle mt-2 mb-0 font-weight-bold">{{officehourstitle}}</h6>
                            <p class="card-text">{{{officehoursfull}}} 
                                <a href="#" title="{{{showlesstext}}}" class="block_tutors_show_less" id="show-less-link-office-hours-{{{id}}}" data-id=office-hours-{{{id}}}>{{{showlesstext}}}</a>
                            </p>
                        </div>
                    {{/officehoursfull}}
                </div>
    
                {{#showdescription}}
                    <div class="tutors-block-description mb-4">
                        {{#description}}
                            <h6 class="card-subtitle mb-0 font-weight-bold" >{{descriptiontitle}}</h6>
                            <div class="card-text my-1">{{{description}}}</div>
                        {{/description}}
                        {{#descriptionexcerpt}}
                            <div id="text-excerpt-{{{id}}}">
                                <h6 class="card-subtitle mb-1 font-weight-bold">{{descriptiontitle}}</h6>
                                <div class="card-text my-1">{{{descriptionexcerpt}}} 
                                    <a href="#" title="{{{readmoretext}}}" class="block_tutors_read_more" id="read-more-link-{{{id}}}" data-id={{{id}}}>{{{readmoretext}}}</a>
                                </div>
                            </div>
                        {{/descriptionexcerpt}}
                        {{#descriptionfull}}
                            <div id="text-full-{{{id}}}" style="display: none;">
                                <h6 class="card-subtitle mb-1 font-weight-bold">{{descriptiontitle}}</h6>
                                <div class="card-text my-1">{{{descriptionfull}}} 
                                    <a href="#" title="{{{showlesstext}}}" class="block_tutors_show_less" id="show-less-link-{{{id}}}" data-id={{{id}}}>{{{showlesstext}}}</a>
                                </div>
                            </div>
                        {{/descriptionfull}}
                    </div>
                    <br>
                {{/showdescription}}

                {{#showtaughtcourses}}
                <h6 class="card-subtitle mb-1 font-weight-bold">{{#str}} enrolledcourses, block_tutors {{/str}}</h6>
                <p>{{{coursename}}}</p>
                {{/showtaughtcourses}}

            </div> <!-- tutor-body -->


          </div>
        </div>
    </div>

    {{/rows}}

    </div>

{{/tutors}}

</div>



