{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_/

    This template renders a given list of .

    Example context (json):
    {
        "uniqid": 1243,
        "title": "My ",
        "extraclasses": "bg-light",
        "tutors" : [
            {   
                "rows" : [
                    {
                        "firstname": "John",
                        "surname": "Doe",
                        "interests": "Yoga, Meditation",
                        "coursename": "Course name"
                    },
                    {
                        "firstname": "John",
                        "surname": "Doe",
                        "interests": "Yoga, Meditation",
                        "coursename": "Course name"
                    }
                ]

            },
            {   
                "rows" : [
                    {
                        "firstname": "John",
                        "surname": "Doe",
                        "interests": "Yoga, Meditation",
                        "coursename": "Course name"
                    },
                    {
                        "firstname": "John",
                        "surname": "Doe",
                        "interests": "Yoga, Meditation",
                        "coursename": "Course name"
                    }
                ]

            }
        ]
    }
}}


<div id="{{uniqid}}" class="block-tutors block-cards" data-region="tutors" role="navigation">

    <div data-region="tutors-filter" class="d-flex align-items-center flex-wrap" aria-label="{{#str}}aria:controls, block_tutors{{/str}}">

        {{> block_tutors/tutors-filter-selector }}

        {{#alloweditprofile}}
        <button type="button" class="btn btn-outline-secondary" aria-haspopup="true" aria-expanded="false" 
        aria-label="{{#str}}aria:tutorseditprofilebutton, block_tutors {{/str}}">
            <span id="tutor-body-edit-button-edit-{{{id}}}" href="#" data-id="{{{id}}}" data-event="edit-profile" 
            class="tutor-body-edit-button-edit" data-active-item-text>{{#str}}editprofilebuttontext, block_tutors{{/str}}
            </span>
        </button>
        {{/alloweditprofile}}

            
    </div>

    {{#alloweditprofile}}
    <div id="tutor-edit-{{{id}}}" class="block_tutors_overlay">

        <div class="card mb-2 w-75 m-auto h-75 bg-light border-secondary">
            <div class="card-header"><h3>{{#str}}editmyprofileformtitle, block_tutors {{/str}}</h3></div>
  
              <div id="tutor-edit-overlay-{{{id}}}" data-id="{{{id}}}" class="card-body py-3 mx-0 tutor-edit-overlay-form" style="overflow: auto">
              <a href="#" class="block_tutors_overlay_close"><i class="fa fa-times-circle-o block_tutors_overlay_close_icon" data-id="{{{id}}}" aria-hidden="true"></i></a>
                {{{editform}}}
              </div>
        </div>
    </div>
    {{/alloweditprofile}}

    <div id="tutors-content-{{{uniqid}}}" {{#blockheight}} style="max-height: {{{blockheight}}}px; min-height: {{{blockheight}}}px" {{/blockheight}} class="block_tutors_content">

    {{> block_tutors/tutors-content }}

    {{#notutorsfoundtext}}
        <h5 class="text-center my-2">{{{notutorsfoundtext}}}</h5>
    {{/notutorsfoundtext}}
    </div>

</div>

